<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Animation</title>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/CustomAnimation.css" rel="stylesheet" />

</head>

<body>   
    <div>
        @*@Html.ActionLink("Shadow Box", "ShadowBox", "Animation", null)
        @Html.ActionLink("Hello World", "HelloWorld", "Animation", null)
        @Html.ActionLink("Canvas Animation", "CanvasAnimation", "Animation", null)
        @Html.ActionLink("Paroller", "Paroller", "Animation", null)
        @Html.ActionLink("Parallax", "Parallax", "Animation", null)
        @Html.ActionLink("Color", "Color", "Animation", null)
        @Html.ActionLink("Type Text", "TypeText", "Animation", null)
        @Html.ActionLink("Image Slide", "ImageSlide", "Animation", null)
        @Html.ActionLink("Letter Ball", "LetterBall", "Animation", null)
        @Html.ActionLink("Index", "Index", "Animation", null)
        @Html.ActionLink("Text Type Shadow", "TypeTextShadow", "Animation", null)
        @Html.ActionLink("Multiple Effects", "MultipleEffects", "Animation", null)
        @Html.ActionLink("Flying Circle", "FlyingCircle", "Animation", null)
        @Html.ActionLink("Scroll Animation", "ScrollAnimation", "Animation", null)
        @Html.ActionLink("Parallax", "Parallax", "Animation", null)
        @Html.ActionLink("Christmas", "Christmas", "Animation", null)
        @Html.ActionLink("Finish", "Finish", "Animation", null)*@
    </div>   
    <div class="container body-content">
        @RenderBody()       
    </div>   
</body>
</html>